<%= form_for @article do |f| %>
  <% if @article.errors.any? %>
    <div id="error_explanation" style="background-color: #FFB6C1">
      <h2>
        <%= pluralize(@article.errors.count, "error") %> <%= l(:label_articles_new_fail) %>
      </h2>
      <ul>
        <% @article.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <p>
    <%= f.label :title,l(:label_articles_title)   %><br>
    <%= f.text_field :title, size: "55x1"  %>
  </p>
  <p>
    <%= f.label :text ,l(:label_articles_text)%><br>
    <%= f.text_area :text, size: "60x12" %>
  </p>
  <p>
    <%= f.submit l(:button_save) %>
  </p>
<% end %>
<%= link_to l(:button_back) , articles_path %>