<h1><%= l(:label_articles_list) %></h1>

<table>
  <tr>
    <th>ID</th>
    <th><%= l(:label_articles_title) %></th>
    <th><%= l(:label_articles_text) %></th>
    <th><%= l(:label_articles_public_date) %></th>
    <th><%= l(:label_articles_modify_date) %></th>
    <th><%= l(:label_articles_op) %></th>
  </tr>

  <% @articles.each do |article| %>
    <tr>
      <td><%= article.id %></td>
      <td><%= article.title %></td>
      <td><%= article.text %></td>
      <td><%= article.created_at %></td>
      <td><%= article.updated_at %></td>
      <td><%= link_to l(:button_view), article_path(article) %></td>
      <td><%= link_to l(:button_edit), edit_article_path(article) %></td>
      <td><%= link_to l(:button_delete), article_path(article),method: :delete ,data:{confirm: l(:text_are_you_sure_del_article)} %></td>
    </tr>
  <% end %>
</table>

<%= link_to l(:label_articles_new) , new_article_path %>
