<p>
  <strong><%= l(:label_articles_title) %>:</strong>
  <%= @article.title %>
</p>

<p>
  <strong><%= l(:label_articles_text) %>:</strong>
  <%= @article.text %>
</p>

<%= link_to l(:button_back), articles_path %>

<h2><%= l(:label_comment_all) %></h2>
<% @article.remarks.each do |remark| %>
  <p>
    <strong><%= l(:label_comment_author) %>：</strong>
    <%= remark.remarker %>
  </p>

  <p>
    <strong><%= l(:label_comment_body) %>：</strong>
    <%= remark.body %>
  </p>
<% end %>

<h2><%= l(:label_comment_add) %></h2>
<%= form_for([@article, @article.remarks.build]) do |f| %>
  <p>
    <%= f.label :remarker ,l(:label_comment_author) %><br>
    <%= f.text_field :remarker %>
  </p>
  <p>
    <%= f.label :body,l(:label_comment_body) %><br>
    <%= f.text_area :body,size: "60x12"%>
  </p>
  <p>
    <%= f.submit l(:button_submit)%>
  </p>
<% end %>